body {
  background-color: #979dac !important;
  font-family: Roboto Mono, sans-serif;
}

.about-section {
  height: 1000px;
}

.home-color {
  background-color: #001845 !important;
}

hr {
  color: #fff;
}

.card-bg {
  background-color: #002855 !important;
}

.card-width {
  width: 45%;
}

.git-link:hover {
  color: #7d8597 !important;
}

.before-intro {
  height: 350px;
}

.after-intro {
  height: 800px;
}

.bottom-spacing {
  height: 250px;
}

@media screen and (max-width: 375px) {
  .before-intro {
    height: 150px;
  }

  .after-intro {
    height: 400px;
  }
}
