body {
  background-color: #979dac !important;
  font-family: Roboto Mono, sans-serif;
}

.nav-color {
  background-color: #33415c !important;
}

.home-color {
  background-color: #001845 !important;
}

hr {
  color: #fff;
}

.card-bg {
  background-color: #002855 !important;
}

.card-width {
  width: 45%;
}

.git-link:hover {
  color: #7d8597 !important;
}
